.DS_Store

# local env files
.env.local
.env.*.local

/static
/media
env

*.sqlite3
*.sh
*.sql
*.csv
*/__pycache__/
*.pyc
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
/configuration
*.pem
*.p12
*.log
jars**
/notebooks
.bash_history
.env
.ipynb_checkpoints
*iob
text/